<h1>Sales Credit Notes</h1>

<%= render 'invoices/table', invoices: @sales_credit_notes %>

<p><%= link_to 'Create a new sales credit note', new_sales_credit_note_path, class: 'btn large primary' %></p>
