<h1>Purchase Credit Notes</h1>

<%= render 'invoices/table', invoices: @purchase_credit_notes %>

<p><%= link_to 'Create a new purchase credit note', new_purchase_credit_note_path, class: 'btn large primary' %></p>